.result {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin: 30px;
}

input-div {
  width: 200px;
  display: flex;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}
